/*@font-face {
  font-family: Qontra;
  src: url(Qontra.otf);
}

@font-face {
  font-family: HankenLight;
  src: url(Hanken-Light.ttf);
}
green #006666
*/

:root {
  /*--background: #015961;
  --background: #147b7f;*/
  --background:#006666;
  --foreground:#dcefef;
  /*--text: #14467f;*/
  --text: var(--background);
  --link-color: #ff59bf;

  /*--foreground: #e6eff0;*/
}

a {
  color: var(--link-color);
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--foreground); /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  font-size: 20px;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: var(--background); /* White text color */
  text-align: center; /* Center the text */
  padding: 12px 24px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  /* --background-color: #ddd; Grey background color */
  color: var(--link-color); /* light blue text color */
}

 body {
  background-color: var(--background);
  font-family: HankenLight;
  font-weight: lighter;
  padding: 0px 200px; /* Some padding */
}


 h1, h2 {
   text-align: center;
   color: white;
   /*font-weight: lighter;*/
}

h3{
  text-align: center;
}

p{
  }
  /* Ensure proper sizing */
*{
    box-sizing: border-box;
    #font-family: HankenLight;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    link
  }

ul{
  font-size: 20px;
  /*padding: 3px;*/
  line-height: 1.15em;
}

ul li{
  font-size: 20px;
  margin: 10px 0;
  line-height: 1.15em;
  /*padding: 3px;*/
}

figcaption{
  float: center;
  font-size:16px;
}

  .textbox{
    font-size: 20px;
  }


  .infop{
    font-size: 20px;
    }
    /* Ensure proper sizing */
    {
      box-sizing: border-box;
      font-family: HankenLight;
      font-weight: lighter;
      link
    }

  /* Column container */

  .row {
    border-radius: 10px;
    display: flex;
    background-color: var(--foreground);
    color: var(--text);
    flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 40%; /* Set the width of the sidebar */
     /* dark background color */
    padding: 24px 20px 24px 20px; /* Some padding */
  }

  /* Main column */
  .main {
    flex: 50%; /* Set the width of the main content */
    padding: 1% 5%;  /* Some padding */
    position: relative;
  }

  /*column of 3*/
  .colthree {
    flex: 33%; /* Set the width of the sidebar */
    background-color: #000000; /* blue background color */
    color: #9be0cf; /* White text color */
    padding: 20px; /* Some padding */
  }

  .colthreebutton {
    flex: 33%; /* Set the width of the sidebar */
    color: black; /* White text color */
    padding: 20px; /* Some padding */
    }


  .coltwo {
    float: left;
    flex: 50%; /* Set the width of the sidebar */
    padding: 20px; /* Some padding */
  }

  .centercol{
    background-color: var(--foreground); /* Dark background color */
    color: var(--text); /* white text color*/
    flex:50%;
    padding:20px;
  }

  .smallcol{
    background-color: var(--foreground); /* Dark background color */
    color: var(--text); /* white text color*/
    flex:25%;
    padding:10px;
  }

  .rightcol{
    background-color: var(--foreground); /* Dark background color */
    color: var(--text); /* white text color*/
    flex:25%;
    padding:10px;
  }

  .collapsible {
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
    background-color: #e6eff0;
  }

  .active, .collapsible:hover {
    background-color: #015961;
    color: var(--link-color);
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-size: 20px;
  }

  .footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  color: #e6eff0;
  background: #000000; /* Black background */
}

button{
  border: none;
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  }
.button a:hover:{
  color: var(--link-color);
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
 .column {
   width: 100%;
 }
}
