/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Full height and width for body */
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
  }

  .split-page{
    display: flex;
    height: 100%; /* Ensures the container takes up full height */
    width: 100%;
    overflow: hidden; /* Prevent scrolling */
    }
  
    .navbar {
        width: 100%;
        text-align: center;
        
        font-size: 20px;
        position: fixed; /* Optional: makes the navbar stay on top when scrolling */
        top: 0;
        left: 0;
    }

  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    padding: 12px 24px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    color:#015961;
  }

  /* Left side (image) */
  .left-side-cover {
    flex: 1;
    /*background: url('imgs/wave_crop.png') no-repeat center/cover;
    position: relative;*/
    background-color: #fff; /* White background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-img {
    width: 50%; /* Adjust the image size */
    max-width: 500px;
    object-fit: cover;
    border: 5px solid #015961;

  }

  .left-side{
    flex: 1;
    background-color: #fff; /* White background */
    color:#015961;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;   /* Ensure content is stacked vertically */
    justify-content: center;  /* Vertically center the content */
    height: 100vh;
  }
  
  /* Right side (information) */
  .right-side {
    flex: 1;
    background-color: #015961; /* Green background */
    color: white;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;   /* Ensure content is stacked vertically */
    justify-content: center;  /* Vertically center the content */
    height: 100vh;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  h2 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

 h3, h4 {
    font-weight: normal;
  }

  p {
    font-size: 1rem;
    line-height: 1.25;
  }
  
  .right-side a {
    color: #fff;
    text-decoration: underline;
  }
  
  .right-side a:hover {
    color: #fae3b4;
    text-decoration: underline;
  }

  .left-side a {
    color: #015961;
    text-decoration: underline;
  }
  
  .left-side a:hover {
    color: #57b3bb;
    text-decoration: underline;
  }


  /* Index Page Text */
  .index-page-text {
    display: flex;
    justify-content: center;   /* Center horizontally */
    align-items: center;       /* Center vertically */
    height: 100vh;             /* Take full viewport height */
    color: #fff;
  }
  ul{
    list-style-type:none;
    font-size: 1rem;
    line-height: 1.25;
  }
